.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  border-radius: 5px;
  padding: 5px 5px 0 5px;
  background-color: #373737;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/my-img.png");
      border-radius: 50%;
      border: solid 3px #33d9b2; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #33d9b2; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #33d9b2; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

@font-face {
  font-family: "Liberty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf"); }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background-img.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: #494949; }
  h1.neon,
  h2.neon,
  h3.neon {
    display: inline-block;
    font-weight: 100;
    font-size: 2rem;
    flex-flow: row;
    font-family: "Liberty";
    letter-spacing: -0.25em;
    padding: 25px;
    margin: 3rem 8px;
    border: solid 2px #fff;
    box-shadow: 0px 0px 25px 2px rgba(189, 21, 189, 0.4), inset 0px 0px 25px 2px rgba(189, 21, 189, 0.4);
    transition: all 2s; }
    h1.neon:hover,
    h2.neon:hover,
    h3.neon:hover {
      box-shadow: 0px 0px 25px 2px rgba(0, 246, 255, 0.4), inset 0px 0px 25px 2px rgba(0, 246, 255, 0.4); }
    h1.neon .letter,
    h2.neon .letter,
    h3.neon .letter {
      color: #d9fdff;
      text-shadow: 0 0 2rem #00f0ff;
      display: inline-block; }
      h1.neon .letter.letter-8,
      h2.neon .letter.letter-8,
      h3.neon .letter.letter-8 {
        transform: translate(-0.2rem, 1rem) rotate(10deg);
        animation: flicker 2s ease-in-out infinite alternate; }

@keyframes flicker {
  0% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg); }
  5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg); }
  5.5% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg); }
  6% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg); }
  6.5% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg); }
  7% {
    opacity: 0;
    transform: translate(-0.2rem, 1rem) rotate(10deg); }
  8% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg); }
  50% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(13deg); }
  100% {
    opacity: 1;
    transform: translate(-0.2rem, 1rem) rotate(10deg); } }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #33d9b2; }

main {
  padding: 0 3rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #33d9b2;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5rem; }
  .about-info .bio-image {
    margin: auto;
    border-radius: 50%;
    border: #33d9b2 3px solid; }
  .about-info .bio {
    grid-column: 2/5;
    font-size: 1.5rem; }
  .about-info .progress-container {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
  .about-info .progressbar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .about-info .progressbar__track {
    fill: transparent;
    stroke: #5b5b5b;
    stroke-width: 3px; }
  .about-info .progressbar__thumb {
    fill: transparent;
    stroke-width: 3px;
    stroke-dasharray: 0 calc(30 * 2 * 3.141593);
    stroke-linecap: round;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.3, 1, 0.3, 1);
    transform: rotate(-89deg);
    transform-origin: 50% 50%; }
  .about-info .progressbar__thumb--track-1 {
    stroke: #c4c4c4;
    animation-duration: 1.8s; }
  .about-info .progressbar__thumb--track-2 {
    stroke: #c4c4c4;
    animation-duration: 1.6s;
    animation-delay: 0.2s; }
  .about-info .progressbar__thumb--track-3 {
    stroke: #33d9b2;
    animation-duration: 1.2s;
    animation-delay: 0.4s; }
  .about-info .html .progressbar__thumb--track-3 {
    animation-name: progressHTML; }
  .about-info .css .progressbar__thumb--track-3 {
    animation-name: progressCSS; }
  .about-info .js .progressbar__thumb--track-3 {
    animation-name: progressJS; }
  .about-info .react .progressbar__thumb--track-3 {
    animation-name: progressREACT; }
  .about-info .progress-content {
    text-align: center; }
  .about-info .progress__value {
    color: #33d9b2;
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    transform: scale(0);
    animation: pulse 400ms 1.6s forwards; }
  .about-info .progress__value::before {
    content: "%";
    font-size: 0.5em;
    position: absolute;
    top: 4px;
    left: 25px; }
  .about-info .progress__text {
    text-transform: uppercase;
    letter-spacing: 1px;
    max-height: 0;
    overflow-y: hidden;
    animation: flyin 500ms 1.9s forwards; }

@keyframes progressHTML {
  to {
    stroke-dasharray: 170; } }

@keyframes progressCSS {
  to {
    stroke-dasharray: 160; } }

@keyframes progressJS {
  to {
    stroke-dasharray: 140; } }

@keyframes progressREACT {
  to {
    stroke-dasharray: 105; } }

@keyframes pulse {
  0% {
    transform: scale(0); }
  60% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }

@keyframes flyin {
  from {
    max-height: 0;
    opacity: 0; }
  to {
    max-height: 20px;
    opacity: 0.5; } }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #33d9b2;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }
  .overlay.show {
    display: block; }

.modal {
  display: none;
  background: #444;
  background-size: cover;
  width: 1200px;
  height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: #33d9b2 3px solid; }
  .modal.show {
    display: block; }
  .modal .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 15px;
    font-size: 22px;
    color: #33d9b2; }
    .modal .close:hover {
      color: #c23616; }

#modal-chatApp {
  background-image: url(../img/chat.png); }

#modal-Kanban {
  background-image: url(../img/kanban.png); }

#modal-gameRSP {
  background-image: url(../img/gameRSP.png); }

#modal-country {
  background-image: url(../img/countryApp.png); }

.box {
  display: block;
  text-align: center;
  padding: 2rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  border: 3px solid #33d9b2;
  width: 50%; }
  .box .emailForm label {
    display: block;
    margin: 0 0 30px;
    color: #33d9b2; }
  .box .emailForm label.half {
    display: inline-block;
    width: 49.4%; }
  .box .emailForm textarea {
    display: block;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    margin: 0;
    height: 20vh;
    resize: none;
    color: #555;
    font-size: inherit; }
  .box .emailForm input {
    display: block;
    width: 100%;
    margin-top: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: inherit; }
  .box .emailForm .error {
    background: #ff6b62;
    position: absolute;
    margin: 0;
    display: block;
    animation: 0.5s slideTop;
    z-index: -1;
    border-top: 0 !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    max-width: 80%;
    padding: 0 5px;
    color: white;
    font-size: 0.8em; }
  .box .emailForm button[type="submit"] {
    width: 20%;
    cursor: pointer;
    margin-top: 35px;
    font-size: 1.1em; }
  .box .g-recaptcha {
    margin: 35px 2px 0 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .box .recaptcha-label {
    width: 306px;
    margin: auto !important;
    max-width: none; }
  .box .emailFormAlert {
    color: #ec3945;
    padding: 6px 0px;
    height: 50px;
    overflow: auto; }
  .box .emailFormAlert .fa {
    color: #555; }
  .box .wrongInput {
    border: solid 1px #d80000; }
  .box .main-btn {
    display: inline-block;
    color: #444;
    background: #33d9b2;
    text-align: center;
    border: solid;
    cursor: pointer; }
  .box .main-btn:hover,
  .box .main-btn:focus {
    text-decoration: none;
    transform: translateY(-1px);
    color: #33d9b2;
    border: solid;
    background: #373737; }
  .box .main-btn:active {
    transform: translateY(1px); }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  h2.neon {
    margin: 10rem auto;
    font-size: 4rem;
    width: 70%; }
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 2rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); }
  .menu .nav-link {
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/my-img-small.png");
      width: 150px;
      height: 150px; }
  .about-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
    .about-info .bio-image {
      position: relative;
      top: 50%;
      left: 170%;
      transform: translateY(-50%); }
    .about-info .bio {
      grid-column: 1/5;
      font-size: 1.5rem; }
  .modal {
    width: 1000px;
    height: 600px;
    background-size: 1000px 600px; }
  .box {
    width: 100%; }
    .box .emailForm label.half {
      display: inline-block;
      width: 40%; }
    .box .emailForm button[type="submit"] {
      width: 20%; } }

@media screen and (max-width: 768px) {
  h2.neon {
    margin: 10rem auto;
    font-size: 3rem;
    width: 70%; }
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 2rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); }
  .menu .nav-link {
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/my-img-small.png");
      width: 150px;
      height: 150px; }
  .about-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
    .about-info .bio {
      grid-column: 1/3;
      font-size: 1.5rem; }
  .modal {
    width: 700px;
    height: 400px;
    background-size: 700px 400px; }
  .box {
    width: 100%; }
    .box .emailForm label.half {
      display: inline-block;
      width: 40%; }
    .box .emailForm button[type="submit"] {
      width: 20%; } }

@media screen and (max-width: 500px) {
  h1.lg-heading {
    line-height: 1;
    margin-bottom: 2rem;
    text-align: center;
    margin: 1rem auto;
    font-size: 44px; }
  h2.sm-heading {
    font-size: 22px; }
  h2.neon {
    margin: 4rem auto;
    font-size: 22px;
    padding: 13px; }
  main#home h1 {
    margin-top: 10vh;
    font-size: 44px; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); }
  .menu .nav-link {
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/my-img-small.png");
      width: 150px;
      height: 150px; }
  .about-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
    .about-info .bio {
      grid-column: 1/1;
      font-size: 1.5rem; }
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
    .projects img {
      width: 100%;
      border: 3px #fff solid; }
  .modal {
    width: 300px;
    height: 300px;
    background-size: 300px 300px; }
  main {
    padding: 15px; }
  .box {
    width: 100%; }
    .box .emailForm .error {
      font-size: 14px; }
    .box .emailForm label.half {
      display: inline-block;
      width: 100%; }
    .box .recaptcha-label {
      margin-left: calc((100% - 306px) / 2) !important;
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform-origin: center center;
      -webkit-transform-origin: center center; }
    .box .emailForm button[type="submit"] {
      width: 50%; } }
