@import "config";
@import "menu";

@font-face {
  font-family: "Liberty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf");
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: lighten($primary-color, 2);
  }

  &.neon {
    display: inline-block;
    font-weight: 100;
    font-size: 2rem;
    flex-flow: row;
    font-family: "Liberty";
    letter-spacing: -0.25em;
    padding: 25px;
    margin: 3rem 8px;
    border: solid 2px #fff;
    box-shadow: 0px 0px 25px 2px rgba(189, 21, 189, 0.4),
      inset 0px 0px 25px 2px rgba(189, 21, 189, 0.4);
    transition: all 2s;

    &:hover {
      box-shadow: 0px 0px 25px 2px rgba(0, 246, 255, 0.4),
        inset 0px 0px 25px 2px rgba(0, 246, 255, 0.4);
    }

    .letter {
      color: #d9fdff;
      text-shadow: 0 0 2rem #00f0ff;
      display: inline-block;

      &.letter-8 {
        transform: translate(-0.2rem, 1rem) rotate(10deg);
        animation: flicker 2s ease-in-out infinite alternate;

        @keyframes flicker {
          0% {
            opacity: 1;
            transform: translate(-0.2rem, 1rem) rotate(10deg);
          }

          5% {
            opacity: 1;
            transform: translate(-0.2rem, 1rem) rotate(10deg);
          }

          5.5% {
            opacity: 0;
            transform: translate(-0.2rem, 1rem) rotate(10deg);
          }

          6% {
            opacity: 1;
            transform: translate(-0.2rem, 1rem) rotate(10deg);
          }

          6.5% {
            opacity: 1;
            transform: translate(-0.2rem, 1rem) rotate(10deg);
          }

          7% {
            opacity: 0;
            transform: translate(-0.2rem, 1rem) rotate(10deg);
          }

          8% {
            opacity: 1;
            transform: translate(-0.2rem, 1rem) rotate(10deg);
          }

          50% {
            opacity: 1;
            transform: translate(-0.2rem, 1rem) rotate(13deg);
          }

          100% {
            opacity: 1;
            transform: translate(-0.2rem, 1rem) rotate(10deg);
          }
        }
      }
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 0 3rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 5rem;

  .bio-image {
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-column: 2/5;
    font-size: 1.5rem;
  }

  .progress-container {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .progressbar {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .progressbar__track {
    fill: transparent;
    stroke: lighten($primary-color, 9);
    stroke-width: 3px;
  }

  .progressbar__thumb {
    fill: transparent;
    stroke-width: 3px;
    stroke-dasharray: 0 calc(30 * 2 * 3.141593);
    stroke-linecap: round;

    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.3, 1, 0.3, 1);
    transform: rotate(-89deg);
    transform-origin: 50% 50%;
  }

  .progressbar__thumb--track-1 {
    stroke: lighten($primary-color, 50);
    animation-duration: 1.8s;
  }

  .progressbar__thumb--track-2 {
    stroke: lighten($primary-color, 50);
    animation-duration: 1.6s;
    animation-delay: 0.2s;
  }

  .progressbar__thumb--track-3 {
    stroke: $secondary-color;
    animation-duration: 1.2s;
    animation-delay: 0.4s;
  }

  .html .progressbar__thumb--track-3 {
    animation-name: progressHTML;
  }

  .css .progressbar__thumb--track-3 {
    animation-name: progressCSS;
  }

  .js .progressbar__thumb--track-3 {
    animation-name: progressJS;
  }

  .react .progressbar__thumb--track-3 {
    animation-name: progressREACT;
  }

  .progress-content {
    text-align: center;
  }

  .progress__value {
    color: $secondary-color;
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    transform: scale(0);
    animation: pulse 400ms 1.6s forwards;
  }

  .progress__value::before {
    content: "%";
    font-size: 0.5em;
    position: absolute;
    top: 4px;
    left: 25px;
  }

  .progress__text {
    text-transform: uppercase;
    letter-spacing: 1px;
    max-height: 0;
    overflow-y: hidden;
    animation: flyin 500ms 1.9s forwards;
  }

  @keyframes progressHTML {
    to {
      stroke-dasharray: 170;
    }
  }

  @keyframes progressCSS {
    to {
      stroke-dasharray: 160;
    }
  }

  @keyframes progressJS {
    to {
      stroke-dasharray: 140;
    }
  }

  @keyframes progressREACT {
    to {
      stroke-dasharray: 105;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0);
    }

    60% {
      transform: scale(1.4);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes flyin {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      max-height: 20px;
      opacity: 0.5;
    }
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  img {
    width: 100%;
    border: 3px #fff solid;
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);

  &.show {
    display: block;
  }
}

.modal {
  display: none;
  background: $primary-color;
  background-size: cover;
  width: 1200px;
  height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: $secondary-color 3px solid;

  &.show {
    display: block;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 15px;
    font-size: 22px;
    color: $secondary-color;

    &:hover {
      color: #c23616;
    }
  }
}

#modal-chatApp {
  background-image: url(../img/chat.png);
}

#modal-Kanban {
  background-image: url(../img/kanban.png);
}

#modal-gameRSP {
  background-image: url(../img/gameRSP.png);
}

#modal-country {
  background-image: url(../img/countryApp.png);
}

.box {
  display: block;
  text-align: center;
  padding: 2rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  border: 3px solid $secondary-color;
  width: 50%;

  .emailForm label {
    display: block;
    margin: 0 0 30px;
    color: $secondary-color;
  }

  .emailForm label.half {
    display: inline-block;
    width: 49.4%;
  }

  .emailForm textarea {
    display: block;
    padding: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    margin: 0;
    height: 20vh;
    resize: none;
    color: #555;
    font-size: inherit;
  }

  .emailForm input {
    display: block;
    width: 100%;
    margin-top: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: inherit;
  }

  .emailForm .error {
    background: rgb(255, 107, 98);
    position: absolute;
    margin: 0;
    display: block;
    animation: 0.5s slideTop;
    z-index: -1;
    border-top: 0 !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    max-width: 80%;
    padding: 0 5px;
    color: white;
    font-size: 0.8em;
  }

  .emailForm button[type="submit"] {
    width: 20%;
    cursor: pointer;
    margin-top: 35px;
    font-size: 1.1em;
  }

  .g-recaptcha {
    margin: 35px 2px 0 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .recaptcha-label {
    width: 306px;
    margin: auto !important;
    max-width: none;
  }

  .emailFormAlert {
    color: #ec3945;
    padding: 6px 0px;
    height: 50px;
    overflow: auto;
  }

  .emailFormAlert .fa {
    color: #555;
  }

  .wrongInput {
    border: solid 1px #d80000;
  }

  .main-btn {
    display: inline-block;
    color: $primary-color;
    background: $secondary-color;
    text-align: center;
    border: solid;
    cursor: pointer;
  }

  .main-btn:hover,
  .main-btn:focus {
    text-decoration: none;
    transform: translateY(-1px);
    color: $secondary-color;
    border: solid;
    background: darken($primary-color, 5);
  }

  .main-btn:active {
    transform: translateY(+1px);
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
